extends ../components/base/layout

block variables
  - const title = "Tooltip" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    <button id="myButton">My Button</button>
    <button id="myButton2">My Button</button>
    h1.visually-hidden Компонент тултип
    .container
      .component
        h2.component__heading Тултип
        p.component__description Базово тултип реагирует на наведение мыши,
          |  а так же умеет делать крутись-вертись, когда рядом нет места
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus amet labore facere aspernatur dolorem alias non, nostrum distinctio rerum sit.
        .component__btns-row
          +btn({text: "Hover me"})(data-tooltip data-text="Я защищен от выпадания за край экрана")
          +btn({text: "Hover me"})(data-tooltip data-text="но обычно стою по центру")
          +btn({text: "Hover me"})(data-tooltip data-text="справа тоже защищен :)")

        .component__btns-row
          +btn({text: "Click!"})(data-tooltip-click data-text="Могу по клику")

        .component__btns-row
          +btn({text: "Hover me"})(data-tooltip data-html="<p class='tooltip__text'>Если нужно вставить разметку</p><p class='tooltip__text tooltip__text--red'>делай это прямо в разметке</p><div class='tooltip__img'><img src='img/content/cool-cat.jpg' width='300' height='300'/></div>")

        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut veritatis ipsa facere, dolor molestiae libero dolorum accusamus, iste atque excepturi nemo repudiandae temporibus voluptates reprehenderit saepe rem. Maxime enim nostrum quod ipsa pariatur. Consectetur odio minus perspiciatis facilis ullam numquam!
        .component__btns-row
          +btn({text: "Dev mode"})(data-tooltip-dev data-text="стилизуй меня 😏")


        //- div(data-tooltip)
        //-   button(data-trigger)
        //-     span trigger
        //-   div(data-content) content

        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui obcaecati, facilis quibusdam eius saepe rem asperiores eum officiis voluptatum quos nostrum at eveniet illum sunt debitis, veniam aperiam dolor amet aliquam doloribus nisi itaque et! Iure, repudiandae numquam ipsam deserunt sit laboriosam non laborum exercitationem similique vitae beatae eligendi officia minus dicta? Reprehenderit officia sint fuga, dignissimos, rem asperiores doloremque repellat labore mollitia, voluptates odit dolores recusandae ipsam. Accusantium odit, eius quisquam quibusdam voluptatibus, doloremque quasi doloribus iste ut vitae labore incidunt repudiandae assumenda magnam ullam quaerat eligendi voluptas, voluptatum vel. Possimus temporibus debitis maxime nihil, eligendi quo ratione explicabo accusamus inventore, nemo iusto optio assumenda consequatur esse quam nam, ab atque? Ducimus maiores nemo, sapiente saepe assumenda officiis, veniam optio nesciunt eligendi laboriosam officia. Fuga, facilis ad minus officia nostrum quasi adipisci, fugiat illo facere voluptatem laudantium aperiam soluta amet corporis impedit voluptates esse quo necessitatibus! Voluptas aperiam sint, eius error quaerat corrupti distinctio at facere reprehenderit, soluta saepe repudiandae suscipit est laboriosam ea recusandae voluptates! Architecto, rem! Ducimus itaque autem nisi rem, blanditiis rerum a placeat error iure voluptatibus eos ipsum! Molestiae ipsum delectus, pariatur aliquam enim similique soluta ea totam accusamus repellendus natus numquam quaerat impedit error doloremque saepe sed neque quas, corporis accusantium? Molestiae, libero rem nemo error eos molestias fuga repellendus illum! Odio, soluta. Accusamus, quam ipsam reprehenderit nostrum natus voluptatum at, perspiciatis eaque enim tempora distinctio ratione possimus maxime quae, rerum veniam quod dolore nam! Blanditiis porro nihil ipsam eos expedita non cumque officia, odit tenetur minima itaque corrupti alias saepe, eligendi, eum soluta neque architecto vitae. Tempora labore doloribus iusto et laudantium facilis consequuntur illo, officiis aliquam cumque qui nesciunt omnis voluptas minus quae ratione voluptatem optio ut? Hic vero eius maxime tenetur consequuntur facere voluptates optio illo odit veniam necessitatibus voluptate cumque recusandae expedita laudantium sunt, commodi ipsum quam, ea quia velit aperiam repudiandae laboriosam. Sit obcaecati omnis dicta fuga nobis inventore laborum odit incidunt corrupti atque reiciendis repudiandae consequatur placeat tenetur culpa ut porro, modi asperiores alias officiis architecto eum assumenda! Distinctio autem deleniti quos. Ipsa cumque officiis explicabo consequatur repudiandae perferendis ab nobis voluptas minima, aut facere, totam saepe quia? Fugiat, eligendi alias! Ipsum rem nemo laudantium, aperiam reprehenderit, autem eos quas natus non saepe iure sint a quo repellendus error quia! In sed nobis ea, dignissimos optio amet quo illo quidem omnis dolorem natus modi saepe quod, laudantium repudiandae voluptates? Voluptatum magni autem asperiores tempora non nobis ad quia praesentium, facere sequi veritatis cumque modi, nihil eveniet dolor. Cum sit iure ex illo tempora officiis voluptas exercitationem assumenda accusantium quod, nobis blanditiis fugiat quaerat voluptatem. Labore possimus ab modi, iure, assumenda perferendis neque similique, eum necessitatibus excepturi quis cumque maiores harum dolore. Possimus natus quibusdam modi, maxime molestiae debitis dolorum atque qui facere nostrum quos rem. Eveniet quibusdam cum facere consequatur! Nihil fugiat, sapiente aliquid modi quas tempore asperiores fugit repellat aspernatur, explicabo aperiam tempora aut rerum veritatis! Tempora quas corporis ratione fuga quo molestiae harum soluta numquam repudiandae!lorem500 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint, excepturi vitae incidunt nulla molestias voluptates itaque quasi, praesentium eaque dolorem consectetur quos omnis quis laudantium debitis perspiciatis fugiat hic eos error harum quod delectus dolorum in deserunt. Ut minima quas sint quia, voluptatibus nihil vero, excepturi consectetur officia placeat et debitis quasi? Ea repellat voluptates doloribus molestiae dignissimos reprehenderit, optio voluptas labore at dolore vero maxime voluptatem ratione praesentium, animi dicta minima mollitia totam molestias soluta aliquam sint et accusantium. Aspernatur ad esse architecto ullam doloribus numquam consequuntur repellat explicabo. Culpa dolore ea iure, magni mollitia aperiam odio odit nostrum nobis quaerat. Pariatur, laborum modi amet saepe dolores natus quas doloremque blanditiis debitis tenetur itaque accusantium minus tempora praesentium nisi quia excepturi veritatis aliquid totam recusandae distinctio repellat earum optio asperiores? Blanditiis et itaque, dolorem architecto quas, cum excepturi sit laboriosam quidem reprehenderit impedit, accusantium corporis minima non accusamus tenetur veniam? Ut culpa exercitationem cum voluptate voluptatem repellendus, alias accusamus quia distinctio eos tempora esse, maiores iusto debitis! Sapiente, dolore repudiandae expedita aut voluptates assumenda beatae, repellat culpa itaque error libero maiores! Debitis suscipit repellat quasi, nostrum recusandae id ut minus voluptas aspernatur illo laudantium, quos quisquam ipsum dolores dolore.

block modals
