extends ../components/base/layout

block variables
  - const title = "Tooltip" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    h1.visually-hidden Компонент тултип
    .container
      .component
        h2.component__heading Тултип
        p.component__description Базово тултип появляется по ховеру.
          |  Защищен от выпадения по бокам экрана (настройка safePadding), а так же умеет делать крутись-вертись, когда сверху/снизу нет места
        .component__row.sb
          +btn({text: "Hover me"})(data-tooltip data-text="Я защищен от выпадания за край экрана")
          +btn({text: "Hover me"})(data-tooltip data-text="но обычно стою по центру")
          +btn({text: "Hover me"})(data-tooltip data-text="справа тоже защищен :)")

        //- .component__btns-row
        //-   +btn({text: "Click!"})(data-tooltip-click data-text="Могу по клику")

        //- .component__btns-row
        //-   +btn({text: "Dev mode"})(data-tooltip-dev data-content="temlate" data-text="стилизуй меня 😏")
        //- try this
        .component__row
          //- +btn({text: "default mode"})(data-tooltip data-text="стилизуй меня 😏")
          +btn({text: "click: true"})(data-tooltip="click" data-text="могу по клику")
        p также работает по клику

        .component__row
          +btn({text: "dev: true"})(data-tooltip="dev" data-text="стилизуй меня 😏")
        p Для удобства стилизации во время разработки есть параметр dev: true

        .component__row
          +btn({text: "mod: 'red'"})(data-tooltip="red" data-text="Не такой как все 😎")
        p нужны модификаторы для определенных тулипов?
        p не проблема! используй mod: 'red'. В разметке он отрендерится как .tooltip__content--red

        .component__row
          +btn({text: "animation: 'scale'"})(data-tooltip="scale" data-text="Вжух!")

        p Хочешь сделать стильно и модно? Добавь свою классную анимацию!

        h2 А как быть с иконками, картинками и другой разметкой?
        p Есть парочка вариантов:
        ol
          li Если разхметка достаточно простая, то можно использовать data-html="..."
            .component__btns-row
              +btn({text: "data-html"})(data-tooltip="img" data-html="<p class='tooltip__text'>Если нужно вставить разметку - делай это прямо в разметке</p><div class='tooltip__img'><img src='img/content/cool-cat.jpg' width='300' height='300'/></div>")
          li Можно передавать в настройках через параметр template: `<р>lorem?< /р>`
            .component__btns-row
              +btn({text: "template: '...'"})(data-tooltip="template")
          li //- тут добавлю ещё один способ, который будет поддерживать pug миксины
        //- div(data-tooltip)
        //-   button(data-trigger)
        //-     span trigger
        //-   div(data-content) content


block modals
